body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #FFE9CF;
    width: 100%;
    justify-content: space-between;

}

.figura {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.lista-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.lista-nav > a {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.lista-div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 70px;
    width: 100%;
}

.link {
    margin: 100px;
    text-decoration: none;
    color: white;
}

.buscar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.entrada-datos {
    height: 50px;
    width: 600px;
    padding-left: 10px;
    font-size: 25px;
}

.boton-buscar {
    height: 50px;
    widows: 50px;
    margin: 0;
    padding: 0;
}

